<app-reportes-toolbar></app-reportes-toolbar>
<div class="container mt-4">
    <div class="jumbotron m-4 p-10">
        <h1 class="display-2 text-center">Reportes de Materiales</h1>
        <p class="lead text-center">Esta aplicación sirve realizar consultas referentes a los materiales de consumo de la producción de IA.
            <hr class="my-4">

            <div class="container">
                <div class="row mt-2 justify-content-center">
                    <div class="col-auto">
                        <a class="btn button-home disabled" href="reportes/part-number" role="button">Consultar por Part Number</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn button-home disabled" href="reportes/home" role="button">Reportes de Línea - OP - Modelo</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn button-home " href="reportes/scrap" role="button">Reportes Scrap</a>
                    </div>
                </div>
            </div>
    </div>
</div>