<div class="container-fluid">

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand titulo" href="reportes/home">Reportes Materiales
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" href="reportes/part-number">Part Number</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="reportes/home">Reportes de Línea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reportes/scrap">Reportes de Scrap</a>
                </li>
            </ul>
        </div>
    </nav>
</div>