<div class="container-fluid barra-superior">
    <div class="row justify-content-between align-items-center">
        <div class="col-auto iaNexo">
            <div class="row align-items-center">
                <div class="col mt-1">
                    <a [routerLink]="['home']" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span>IaServer(Anexo)</span>
                    </a>
                </div>

                <div class="col">
                    <a class="nav-link bar" (click)="mostrarMenu()">
                        <fa-icon [icon]="bar"></fa-icon>
                    </a>
                </div>
            </div>
        </div>

        <div class="col logo" style="text-align: center;">
            <a [routerLink]="['home']">
                <img src="assets/images/newsanlogo_blanco_negro.png" width="192" height="55.875">
            </a>
        </div>

        <div class="col-2 my-2 my-lg-0 login">
            <ul class="navbar-nav float-right" id="login">
                <li class="nav-item" *ngIf="!identity">
                    <a class="nav-link text-white sigIn" (click)="mostrarLogin()">
                        <fa-icon class="icon" [icon]="sigIn"></fa-icon>
                    </a>
                </li>
                <li class="nav-item" *ngIf="identity">
                    <a class="nav-link nombre" (click)="logout()" data-toggle="tooltip" data-placement="top" title="{{role}}">
                        {{identity.name + ' ' + identity.surname}} 
                        <fa-icon class="icon" [icon]="sigOut"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>

        <div class="login2">
            <div class="row">
                <div class="col-9">

                </div>
                <div class="col" *ngIf="!identity">
                    <a class="nav-link text-white sigIn2" (click)="mostrarLogin()">
                        <fa-icon class="icon" [icon]="sigIn"></fa-icon>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col" *ngIf="identity">
                    <a class="nav-link nombre2" (click)="logout()" data-toggle="tooltip" data-placement="top" title="{{role}}">
                        
                        {{identity.name + ' ' + identity.surname}}
                        <fa-icon class="icon" [icon]="sigOut"></fa-icon>
                    </a>
                </div>
            </div>
            <!-- <ul class="navbar-nav" id="login">
                <li class="nav-item" *ngIf="!identity">
                    <a class="nav-link text-white" (click)="mostrarLogin()">
                        <fa-icon class="icon" [icon]="sigIn"></fa-icon>
                    </a>
                </li>
                <li class="nav-item" *ngIf="identity">
                    <a class="nav-link nombre" (click)="logout()" data-toggle="tooltip" data-placement="top" title="{{role}}">
                        {{identity.name + ' ' + identity.surname}}
                        <fa-icon class="icon" [icon]="sigOut"></fa-icon>
                    </a>
                </li>
            </ul> -->
        </div>
    </div>
</div>
<div class="collapse" id="login">
    <app-login></app-login>
</div>