.container-fluid {
    text-align: center;
    z-index: -1;
}

.titulo {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.75px;
}

.navbar {
    margin-left: 11%;
    background: rgb(0, 74, 154);
    letter-spacing: 2px;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: gray;
}

.navbar .nav-item {
    font-weight: none;
}

.vista-icon {
    font-size: 22px;
}