<div class="row">
    <!-- <div class="barra-lateral col-6 col-sm-auto" [ngClass]="activar"> -->
    <div class="barra-lateral" [ngClass]="activar">
        <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
            <div class="row w-100 item" [routerLink]="['manifiesto']">
                <div class="col ml-1">
                    <a>
                        <span>Manifiesto</span>
                    </a>
                </div>
                <div class="col">
                    <fa-icon [icon]="file"></fa-icon>
                </div>

            </div>
            <div class="row w-100 item" [routerLink]="['npi']">
                <div class="col ml-1">
                    <a href="#"><span>NPI</span></a>
                </div>
                <div class="col">
                    <fa-icon [icon]="stopwatch"></fa-icon>
                </div>

            </div>
            <div class="row w-100 item" [routerLink]="['reportes']">
                <div class="col ml-1">
                    <a href="#"><span>Reportes</span></a>
                </div>
                <div class="col">
                    <fa-icon [icon]="clipboardList"></fa-icon>
                </div>

            </div>
            <div class="row w-100 item" [routerLink]="['feeders']">
                <div class="col ml-1">
                    <a href="#"><span>Mantenimiento Feeders</span></a>
                </div>
                <div class="col">
                    <fa-icon [icon]="tools"></fa-icon>
                </div>

            </div>
            <div class="row w-100 item" [routerLink]="['procedimientos']">
                <div class="col ml-1">
                    <a [routerLink]="['procedimientos']"><span>Procedimientos</span></a>
                </div>
                <div class="col">
                    <fa-icon [icon]="proyect"></fa-icon>
                </div>

            </div>
        </nav>
    </div>
</div>
<div *ngIf="activar">
    <a class="fondo-enlace d-md-none" (click)="ocultarMenu()"></a>
</div>