<footer>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-arround">
            <div class="col-6 col-md-4 info">
                <div class="row justify-content-center">
                    <h5 class="title">
                        <a href="home">
                            IaNexo v2.0.1
                        </a>
                    </h5>
                </div>
                <div class="row info justify-content-center">
                    <p class="copyright"> Desarrollado por &copy; Fernando M. Vega - <br class="d-md-none"> Ing de Inserción Automática</p>
                </div>
            </div>
            <div class="col-6 col-md-4 text-center justify-content-center contacto">
                <a href="mailto:fer.vega@newsan.com.ar" id="email">
                  Contacto: fer.vega@newsan.com.ar
                </a>
            </div>
            <div class="col-4 ">
                <ul class="lista-footer">
                    <li>
                        <a href="manifiesto">Manifiesto</a>
                    </li>
                    <li>
                        <a href="npi">NPI</a>
                    </li>
                    <li>
                        <a href="reportes">Reportes</a>
                    </li>
                    <li>
                        <a href="feeders">Mantenimiento de Feeders</a>
                    </li>
                    <li>
                        <a href="procedimientos">Procedimientos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>