<div class="container">
    <div class="jumbotron m-4 p-10">
        <h1 class="display-1 text-center welcome">Bienvenido a IaServer Anexo! v2.0.1</h1>
        <p class="lead text-center">IaServer Anexo es un sistema de herramientas complementario a IAServer.
            <hr class="my-4">
            <p class="text-center">Para ver todas las aplicaciones disponibles ir al botón de menú
                <fa-icon [icon]="bar"></fa-icon>
                o bien elegir entre las siguientes</p>
            <div class="row justify-content-center mt-4">
                <div class="col-md-3 col-6 botones">
                    <div class="list-group text-center">
                        <a href="manifiesto" class="list-group-item list-group-item-action">Manifiesto</a>
                        <a href="npi" class="list-group-item list-group-item-action">NPI</a>
                        <a href="reportes" class="list-group-item list-group-item-action">Reportes</a>
                        <a href="feeders" class="list-group-item list-group-item-action">Mantenimiento de Feeders</a>
                        <a href="procedimientos" class="list-group-item list-group-item-action">Procedimientos</a>
                    </div>
                </div>
            </div>
    </div>
</div>