<app-procedimientos-toolbar></app-procedimientos-toolbar>

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="text-center">Procedimientos de Inserción Automática</h1>
        <p class="lead mt-4">En esta sección encontrará documentación correspondiente a procedimientos, instructivos y/o artículos de interés sobre las operaciones que se realizan dentro del área de inserción automática </p>
        <hr class="my-4">
        <p class="text-center">Puede consultar, subir y editar procedimientos siempre que tenga los permisos correspondientes</p>
        <hr>
        <div class="container">
            <div class="row mt-2 justify-content-center">
                <div class="col-auto">
                    <a class="btn button-home " href="procedimientos/nuevo" role="button">Crear Nuevo</a>
                </div>
                <div class="col-auto">
                    <a class="btn button-home " href="procedimientos/listado" role="button">Consultar Listado</a>
                </div>
            </div>
        </div>
    </div>
</div>