<app-manifiesto-toolbar></app-manifiesto-toolbar>

<div class="container mt-4">
    <div class="jumbotron m-4 p-10">
        <h1 class="display-2 text-center">Aplicación de Manifiestos</h1>
        <p class="lead text-center">Esta aplicación sirve para crear, consultar, modificar y/o imprimir manifiestos.
            <hr class="my-4">

            <div class="container">
                <div class="row mt-2 justify-content-center">
                    <div class="col-auto">
                        <a class="btn button-home " href="manifiesto/nuevo" role="button">Crear Nuevo</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn button-home " href="manifiesto/listado" role="button">Consultar Listado</a>
                    </div>
                </div>
            </div>
    </div>
</div>